body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: pink;
  }
  
  nav {
    color: white;
    overflow: hidden;
    padding: 15px;
    background-color: black;
  }
  
  .logo {
    float: left;
  }
  
  .logo img {
    height: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  li {
    display: inline;
    margin-left: 20px;
    border-left: 1px solid #fff;
    padding-left: 10px;
  }
  
  li:first-child {
    border-left: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Apply hover effect only to specific links */
  a:hover {
    color: #ffd700; /* Change the color on hover */
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }
  .home
  {
    color: blue;
    text-decoration: underline;
  }